#navbar { margin: 0px;
}
#navleft {  float: right;

}
#bloque2 { margin: 0px;

}

#Orador {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;

}

#cardpad {
    margin-left: 15px;
    margin-right: 15px;

}

#texto1 {
    text-align: right;
    padding: 400px 50px 50px 400px;
}

#charlaignite{
    border-bottom:1px dotted #000000;
}

.nav-link{
    text: white
}
form{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;

}

#Footer { 
    padding-top: 30px;
    padding-bottom: 30px;
}